<div class="b-card_box">
	<div class="card">
	  <div class="card-header">
	      <h4><%= @blog.title %></h4>
	  </div>

	  <div class="card-body">
	    <p class="card-text"><%= simple_format(@blog.body) %></p>
		<% if @blog.image.present? %>
        	<%= image_tag @blog.image.url, :size =>'200x200' %>
        <% end %>
	  </div>

	  <ul class="card-footer">
	      <%= @blog.user.name %>
				<% if @blog.present? %>
				  <% if @blog.favorited_by?(current_user) %>
						<li class="card-footer">
							<%= link_to blog_favorites_path(@blog), method: :delete do %>
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									<%= @blog.favorites.count %>
							<% end %>
						</li>

							<% else %>

						<li>
							<%= link_to blog_favorites_path(@blog), method: :post do %>
								<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									<%= @blog.favorites.count %>
							<% end %>
						</li>
				  <% end %>
				<% end %>

	  </div>
	</div>

</div>



