<div class="b-card_box">
	<div class="card">
	  <div class="card-header">
	      <h4><%= @blog.title %></h4>
	  </div>

	  <div class="card-body">
	     <p class="card-text"><%= simple_format(@blog.body) %></p>
	  </div>

	  <div class="card-footer">
	      <%= @blog.user.name %>
			<div class="favorite-box">
				<% if @blog.favorited_by?(current_user) %>
					<li>
						<%= link_to blog_favorites_path(@blog), method: :delete do %>
						  <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
						    <%= @blog.favorites.count %>
						  <% end %>
					</li>
						<% else %>
					<li>
						<%= link_to blog_favorites_path(@blog), method: :blog do %>
						 <i class="fa fa-heart-o" aria-hidden="true"></i>
						    <%= @blog.favorites.count %>
						  <% end %>
					</li>
				<% end %>
			</div>
	  </div>
	</div>

</div>



