  <div id="sp-menu">
    <h2>MENU</h2>
      <ul>
        <li><%= link_to 'トップページ', browse_path %></li>
        <li><%= link_to '横濱スパヒルズ　竜泉寺の湯', look_path %></li>
        <li><%= link_to 'ゆめみ処 おふろの王様', see_path %></li>
        <li><%= link_to 'Twitter', ("https://twitter.com/yosshi_ike1720") %></li>
        <li><%= link_to 'facebook', ("http://facebook.com/yosshi.freedom1720") %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
  </div>

  <div id="hm-icon">
    <a id="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>