  <div id="sp-menu">
    <h2>メニュー</h2>
      <ul>
        <li><%= link_to '横濱スパヒルズ　竜泉寺の湯', look_blogs_path %></li>
        <li><%= link_to 'お風呂の王様', see_blogs_path %></li>
        <li><%= link_to '横浜　万葉倶楽部', saw_blogs_path %></li>
        <li><%= link_to '満天の湯', watch_blogs_path %></li>
        <li><%= link_to 'OYUGIWA', seeing_blogs_path %></li>
        <li><%= link_to '湯花楽', looking_blogs_path %></li>
        <li><%= link_to '湯快爽快　ざま', check_blogs_path %></li>
        <li><%= link_to '宮前平源泉 湯けむりの庄', try_blogs_path %></li>
        <li><%= link_to '極楽湯', gaze_blogs_path %></li>
        <li><%= link_to 'コメントはこちら♪', new_blog_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
  </div>

  <div id="hm-icon">
    <a id="menu-trigger" href="#">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>