<% if flash[:error_massages] %>
    <div class="alert alert-danger">
        <ul>
            <% flash[:error_massages].each do |massage| %>
                <li><<%= massage %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <%= render 'shared/error_messages' %>

    <%= form_for @tweet do |f| %>

        <div class="b-tweet__formbox">
            <div class="b-content_box">
                <%= f.text_area :tweet, class: 'form-control', rows: 5 %>
                <small id="content-tip" class="form-text text-muted">
                    コメントを入力してください♪(500文字以内)
                </small>
                <%= f.hidden_field :action_name, :value => controller.action_name %>
            </div>

            <div class="b-push_box2">
                <%= f.submit '投稿！', class: 'decorated-btn2 click-down' %>
            </div>
        </div>

    <% end %>
<% @tweets.each do |tweet| %>
	<div class="b-comment__item">
	  <p><%= simple_format(tweet.tweet) %>
	  <div class="b-comment__bottomLine">
      <span><%= tweet.user.name %></span>
      </div>
    </div>
<% end %>
<%= paginate @blogs %>
