<body>

<%= render 'menu' %>

<%= render 'btn' %>


<div class="main-visual">
  <div id=container-js>
     <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
    </div>
  </div>
</div>

<div class="container-yu">
  <div class="yunokokoti">
      <span class="yunokokoti-text">
        <h1>♨️〜ようこそ湯のここちへ〜♨️</h1>
      </span>
      <span class="yunokokoti-text2"></p>
            <h3>このサイトは神奈川県にあるスーパー銭湯を紹介するサイトです。<br>
                                                               <br>
            日々仕事等でお疲れの皆さま・・・<br>
            いつもお疲れ様です♪<br>
            スーパー銭湯で優雅で贅沢なひと時を過ごされてはいかがでしょうか？</h3>
      </span>
  </div>
</div>


  <section id="portfolio">
    <div class="container1">
      <h2 class="heading1">
        ♨️〜スーパー銭湯紹介!〜♨️
      </h2>
      <p class="heading-text">
      <font size="5">日々お仕事を一生懸命働いている皆様へ・・・<br>
      神奈川県で温泉という至福のひと時はいかがでしょうか・・・♨️</font><br>
      </p>

       <div class="portfolio_images clearfix">
          <div class="spa-images1">
                  <%= link_to look_blogs_path do %>
                    <div class="portfolio_image1"></div>
                  <% end %>

                <%= link_to see_blogs_path do %>
                  <div class="portfolio_image2"></div>
                <% end %>

                <%= link_to saw_blogs_path do %>
                  <div class="portfolio_image3"></div>
                <% end %>
          </div>

            <div class="spa-images2">
                  <%= link_to watch_blogs_path do %>
                    <div class="portfolio_image4"></div>
                  <% end %>

                  <%= link_to seeing_blogs_path do %>
                    <div class="portfolio_image5"></div>
                  <% end %>

                  <%= link_to looking_blogs_path do %>
                    <div class="portfolio_image6"></div>
                  <% end %>
            </div>

            <div class="spa-images3">
                  <%= link_to check_blogs_path do %>
                    <div class="portfolio_image7"></div>
                  <% end %>

                  <%= link_to try_blogs_path do %>
                    <div class="portfolio_image8"></div>
                  <% end %>

                  <%= link_to gaze_blogs_path do %>
                    <div class="portfolio_image9"></div>
                  <% end %>
            </div>
      </div>
    </section>

        <section id="profile">
             <div class="container2">
               <h2 class="heading2">
                 ♨️〜自己紹介〜♨️
               </h2>
                <p class="heading-text">
                 今回ブログ風紹介サイト『湯のここち』というサイトを制作しました! <br>
                 温泉サイトを制作した理由は、私自身スーパー銭湯が好きで以前からよく通っていました。 <br>
                 現代はストレス社会と言われており、日々ストレスと戦う皆様に少しでも癒しになればと思い制作しました。<br>
                 少しでも皆さまにスーパー銭湯の魅力や素晴らしさを知ってもらえたら嬉しいです♪
               </p>
                 <div class="profile-group clearfix">
                    <div class="left-content">
                     <div class="my-face"></div>
                    </div>
                        <div class="">
                        <h3 class="discription-title">名前</h3>
                        <div class="admin-name">
                          <h2>渡邊 義信</h2>
                        </div>
                        <h3 class="discription-title">マイブーム</h3>
                        <p class="discription-text">
                          最近『岩盤浴』にはまりました！<br>
                          岩盤浴は、新陳代謝を上げるだけではなく『美容』にも良いと言われています。<br>
                          さらには新陳代謝を上げるので、ダイエットにもいいと言われております。<br>
                          皆さんもご興味があれば是非、岩盤浴に入ってみてください。<br>
                          きっとクセになると思います♪<br>
                        </p>
                        </div>
                </div>
             </div>
         </section>


       <section id="sns">
         <div class="container3">
           <h2 class="heading3">
             ♨️〜その他〜♨️
           </h2>
           <p class="heading-text">
              登録したばかりですがSNSを始めました！<br>
              趣味を乗せたり備忘録としてプログラミング情報を書いていこうと思いますので<br>
              興味のある方は是非見に来て下さい♪<br>
              また、みなさまに楽しくご利用していただける様に禁止事項を厳守の上ご利用をお願い致します。<br>
           </p>

           <div class="contact-group clearfix">

            <div class="left-content">
               <div class="impressions">
                <%= link_to 'コメントはこちら♪', new_blog_path, class: 'btn btn-c btn--green btn--cubic btn--shadow', method: :get %>
               </div>

               <div class="impressions">
                <%= link_to '注意事項', precautions_blogs_path, class: 'btn btn-c btn--green btn--cubic btn--shadow', method: :get %>
               </div>
            </div>

             <div class="right-content">
              <div class="right-contact">
                <div class="SNS">
                <h3 class="discription-title">SNS</h3>

                  <%= link_to ("https://twitter.com/yosshi_ike1720") do %>
                    <span class="fa fa-twitter fa-x"aria-hidden="true"></span>
                  <% end %>


                  <%= link_to ("http://facebook.com/yosshi.freedom1720") do %>
                    <span class="fa fa-facebook fa-x"aria-hidden="true"></span>
                  <% end %>

                </div>
              </div>
             </div>
            </div>
       </section>
     </div>

</body>