<body>

<%= render 'menu' %>

<%= render 'btn' %>


<div class="main-visual">
  <div id=container-js>
     <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
    </div>
  </div>
</div>



  <section id="portfolio">
    <div class="container1">
      <h2 class="heading">
        ♨️〜スーパ銭湯紹介!〜♨️
      </h2>
      <p class="heading-text">
      <font size="5">日々お仕事を一生懸命働いている皆様へ・・・<br>
      温泉という至福のひと時はいかがでしょうか・・・♨️</font><br>
      <font size="3">※画像を押すと各ページへ飛びます</font>
      </p>

       <div class="portfolio_images clearfix">
          <div class="spa-images1">
                  <%= link_to look_blogs_path do %>
                    <div class="portfolio_image1"></div>
                  <% end %>

                <%= link_to see_blogs_path do %>
                  <div class="portfolio_image2"></div>
                <% end %>

              <!-- <h4 class="portfolio-title3">♨️〜横浜みなとみらい 万葉倶楽部〜♨️</h4> -->
                <%= link_to saw_blogs_path do %>
                  <div class="portfolio_image3"></div>
                <% end %>
          </div>

            <div class="spa-images2">
               <!-- <h4 class="portfolio-title4">♨️〜天然温泉　満天の湯〜♨️</h4> -->
                  <%= link_to watch_blogs_path do %>
                    <div class="portfolio_image4"></div>
                  <% end %>

                <!-- <h4 class="portfolio-title5">♨️〜OYUGIWA海老名〜♨️</h4> -->
                  <%= link_to seeing_blogs_path do %>
                    <div class="portfolio_image5"></div>
                  <% end %>

                <!-- <h4 class="portfolio-title6">♨️〜天然温泉 湯花楽 厚木店〜♨️</h4> -->
                  <%= link_to looking_blogs_path do %>
                    <div class="portfolio_image6"></div>
                  <% end %>
            </div>
      </div>
    </section>

        <section id="profile">
             <div class="container2">
               <h2 class="heading">
                 ♨️〜自己紹介〜♨️
               </h2>
                <p class="heading-text">
                 今回ブログ風紹介サイト『湯のここち』というサイトを制作しました! <br>
                 なぜこのサイトを制作したかというと、私自身スーパー銭湯が好きで以前はよく通っていました。 <br>
                 少しでも皆さんにスーパー銭湯の魅力や素晴らしさを知ってもらえたら嬉しいです(笑)
               </p>
                 <div class="profile-group clearfix">
                  <div class="left-content">
                   <div class="my-face"></div>
                  </div>
                      <div class="">
                      <h3 class="discription-title">名前</h3>
                      <p class="discription-text">
                        渡邊義信
                      </p>
                      <h3 class="discription-title">マイブーム</h3>
                      <p class="discription-text">
                        最近『岩盤浴』にはまりました！<br>
                        岩盤浴は、新陳代謝を上げるだけではなく『美容』にも良いと言われています。<br>
                        さらには新陳代謝を上げるので、ダイエットにもいいと言われております。<br>
                        皆さんもご興味があれば是非、岩盤浴に入ってみてください。<br>
                        きっとクセになると思います♪<br>
                      </p>
                      </div>
                </div>
             </div>
         </section>


       <section id="sns">
         <div class="container3">
           <h2 class="heading">
             ♨️〜その他〜♨️
           </h2>
           <p class="heading-text">
              登録したばかりですがSNSを始めました！<br>
              日々思ったことやプログラミング情報を書いていこうと思いますので<br>
              興味のある方は是非見に来て下さい！<br>
              フォローもして頂けると嬉しいです♪<br>
              感想のコメントを閲覧したい方はこちらからどうぞ！<br>
           </p>

           <div class="contact-group clearfix">

            <div class="left-content">
               <div class="kansou">
                <%= button_to '感想はこちら♪', new_blog_path, class: 'btn btn-info btn-block', method: :get %>
                </div>
            </div>

             <div class="right-content">
              <div class="right-contact">
                <h3 class="discription-title">SNS</h3>

                  <%= link_to ("https://twitter.com/yosshi_ike1720") do %>
                    <span class="fa fa-twitter fa-x"aria-hidden="true"></span>
                  <% end %>

                  <%= link_to ("http://facebook.com/yosshi.freedom1720") do %>
                    <span class="fa fa-facebook fa-x"aria-hidden="true"></span>
                  <% end %>

                <i class="fa fa-instagram fa-x"aria-hidden="true"></i>
              </div>
             </div>
            </div>
       </section>
     </div>


</body>