<%= render 'menu' %>

<% if flash[:error_massages] %>
    <div class="alert alert-danger">
        <ul>
            <% flash[:error_massages].each do |massage| %>
                <li><<%= massage %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="b-edit_container">
    <div class="d-flex align-items-center">
        <div class="b-edit__comment">
            <h1>編 集</h1>
        </div>
          <div class="b-edit_comment_box">
                <%= link_to '温泉詳細', blog_path, class: 'btn-border-button' %>
          </div>
    </div>

        <%= form_for @blog do |f| %>

        <div class="b-blog__formbox">
             <div class="b-title_box">
                <%= f.label :title, '住所・温泉名' %>
                <%= f.text_field :title, class: 'form-control' %>
                <small id="title-tip" class="form-text text-muted">
                    住所・温泉名を入力してください
                </small>
            </div>
            <div class="b-content_box">
                <%= f.label :body, '投稿内容' %>
                <%= f.text_area :body, class: 'form-control', rows: 8 %>
                <small id="content-tip" class="form-text text-muted">
                    投稿内容を入力してください
                </small>
            </div>

            <div class="b-update_box">
                <%= f.submit '更新!', class: 'decorated-btn click-down' %>
            </div>
        </div>
</div>



<% end %>
