<div class="d-flex align-items-center">
		<h1>コメント</h1>
	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-2"><%= button_to '感想一覧', blogs_path, class: 'btn btn-info btn-block', method: :get %></div>
	    <div class="col-md-2"><%= button_to '編集', edit_blog_path(@blog), class: 'btn btn-info btn-block', method: :get %></div>
	</div>
</div>

<% if flash[:notice] %>
	<div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @blog %>

<div class="b-comment_list">
  <div class="b-comment_listTitle">コメント</div>
  <%= render @blog.comments %>
</div>



<%= render partial: 'comments/form', locals: { comment: @comment } %>
