<div class="d-flex align-items-center mt-4 mb-4">
	<div class="ml-auto blogs_button">
          <%= link_to '感想一覧', blogs_path, class: 'btn btn-outline-info' %>
      	<%= link_to '編集', edit_blog_path(@blog), class: "btn btn-outline-info" %>
	</div>
</div>

<% if flash[:notice] %>
	<div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @blog %>

<div class="b-comment_list">
  <div class="b-comment_listTitle">コメント</div>
  <%= render @blog.comments %>
</div>



<%= render partial: 'comments/form', locals: { comment: @comment } %>
