<div class="b-show_box">
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
			<%= button_to '感想一覧', blogs_path, class: 'btn btn-info btn-block', method: :get %>
	      	<%= button_to '編集', edit_blog_path(@blog), class: 'btn btn-info btn-block', method: :get %>
      	</div>
	</div>
</div>

<% if flash[:notice] %>
	<div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @blog %>

<div class="b-comment_list">
  <div class="b-comment_listTitle">コメント</div>
  <%= render @blog.comments %>
</div>



<%= render partial: 'comments/form', locals: { comment: @comment } %>
