<%= render 'shared/error_messages' %>

<div class="b-comment__formBox">
	<p class="b-comment__formTitle">コメント記入</p>
	<%= form_for comment do |f| %>
		<div class="b-comment_box">
			<%= f.label :comment, 'コメント' %>
			<%= f.text_area :comment, class: 'form-control', rows: 4 %>
		</div>

        <div class="b-push_box">
            <%= f.submit '送信', class: 'btn btn-info btn-block' %>
        </div>
	<% end %>
</div>