<%= render 'blogs/menu' %>

<% current_user.followers.each do |follow_user| %>
	<div class="follow-box">
		<div class="follow-image">
			<% if follow_user.profile_image.present? %>
				<%= image_tag follow_user.profile_image.url, :size =>'200x200' %>
			<% end %>
		</div>
		<h3 class="follow-name"><%= follow_user.name%></h3>
		<div class="follow-reset">
          <% if current_user.following?(follow_user) %>
            <%= form_for(current_user.relationships.find_by(follow_id: follow_user.id), html: { method: :delete }) do |f| %>
              <%= hidden_field_tag :follow_id, follow_user.id %>
              <%= f.submit 'フォロー解除', class: 'btn-border-reset' %>
            <% end %>
          <% else %>
            <%= form_for(current_user.relationships.build) do |f| %>
              <%= hidden_field_tag :follow_id, follow_user.id %>
              <%= f.submit 'フォロー', class: 'btn-border-follow' %>
            <% end %>
          <% end %>
		</div>
	</div>

<% end %>