<%= render 'blogs/menu' %>
<div class="mypage">
	<h1>~ My Page ~</h1>
</div>


	<div class="row">
		<div class="col-md-8"></div>
		<div class="col-md-2"><%= button_to 'アカウント編集', edit_user_registration_path, class: 'btn btn-info btn-block', method: :get %></div>
		<div class="col-md-2"><%= button_to '退会', withdraw_users_path, class: 'btn btn-danger btn-block', method: :get %></div>
	</div>

<div class ="pageshow">
<table class="table my_table">
	<tr>
		<th class="panel my_panel">アカウント名</th><th class="my_text"><%= @user.name%></th>
	</tr>
	<tr>
		<th class="panel my_panel">アドレス</th><th class="my_text"><%= @user.email %></th>
	</tr>
	<tr>
		<th class="panel my_panel">パスワード</th><th class="my_text">******</th>
	</tr>
</table>
</div>
