<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Onsen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <header>

          <%= link_to browse_path do %>
            <%= image_tag 'img/yunokokoti.png',class:"photo" %>
          <% end %>

        <% if user_signed_in? %>
          <%= render 'users/mypage' %>
        <% end %>


  </header>
  <div class="main-contents">

      <div id="slidemenu">
        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">

        </ul>
      </div>

      <%= yield %>
  <!--
      <script src="js/jquery.min.js"></script>
      <script src="js/skippr.min.js"></script>
      <script src="js/script.js"></script> -->


      <footer>
        <p class="">©  yocchi</p>
      </footer>
  </div>
  </body>
</html>
