<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <title>Onsen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    # 2023/9/6 追加
    # <script src="/assets/application-9941e475b91f6ec13adf5f910b2a3c0fbcbc8a5049089243cd544e0b43744b46.js"></script>

    # 2023/9/10 追加
    <script src="https://cdn.jsdelivr.net/npm/skipper@0.9.4/lib/skipper.min.js"></script>
  </head>

  <body>
  <header>
        <a>
          <div class="nav-bar">
            <% if user_signed_in? %>
                  <i><%= link_to ' ホーム', browse_path, class: 'glyphicon glyphicon-home home' %></i>
                  <i><%= link_to ' お知らせ', info_blogs_path, class: 'glyphicon glyphicon-bell bell' %></i>
                  <i><%= link_to ' マイページ', user_path(current_user), class: 'glyphicon glyphicon-user user' %></i>
                  <i><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out logout' %></i>
            <% else %>
                  <i><%= link_to ' 新規登録', new_user_registration_path, class: 'glyphicon glyphicon-edit sign_up' %></i>
                  <i><%= link_to ' ログイン', new_user_session_path, class: 'glyphicon glyphicon-log-in sign_in' %></i>
                  <i><%= link_to ' ゲストログイン', homes_guest_sign_in_path, method: :post, class: 'glyphicon glyphicon-user user' %></i>
            <% end %>
          </div>
        </a>

    <%= link_to browse_path do %>
        <%= image_tag 'img/yunokokoti.png',class:"photo" %>
    <% end %>

  </header>
  <div class="main-contents">

      <div id="slidemenu">
        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">

        </ul>
      </div>

      <%= yield %>
  <!--
      <script src="js/jquery.min.js"></script>
      <script src="js/skippr.min.js"></script>
      <script src="js/script.js"></script> -->


      <footer>
        <p class="">© Yunokokochi All Rights Reserved.</p>
      </footer>
  </div>
  </body>
</html>
